*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
venv
venv3.8
*.egg-info
# CDK asset staging directory
.cdk.staging
cdk.out
.DS_Store
.lambda_dependencies
.aws-sam
.vscode/settings.json
.vscode/.ropeproject/config.py
htmlcov
.coverage
.vscode
.idea

microservices/device/.mypy.ini
