-e .
aws-cdk.aws-lambda
aws-cdk.aws-lambda-python
aws-cdk.aws-apigateway
aws-cdk.aws-apigatewayv2
aws-cdk.aws_apigatewayv2-integrations
aws-cdk.aws-iam
aws-cdk.aws-secretsmanager
aws-cdk.aws-route53
aws-cdk.aws-route53-targets
aws-cdk.aws-rds
aws-cdk.aws-sqs
aws-cdk.aws-dynamodb
aws-cdk.aws-certificatemanager
aws-cdk-aws-lambda-event-sources
aws-cdk-aws-kinesis
aws-cdk-aws-s3-notifications
aws-cdk-aws-sns-subscriptions