awscli
aws-sam-cli
pytest
pytest-mock
moto
boto3==1.14.23
botocore==1.17.23
coverage
pydantic==1.6.1
python3-indy==1.15
SQLAlchemy==1.3.19
psycopg2-binary==2.8.5
aws-lambda-powertools==1.8.0
black
vulture
pylint
urllib3
flake8
black
mypy
sqlalchemy-stubs
Faker
SQLAlchemy-Paginator==0.2
python3-indy==1.15
pycryptodome